# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Datasets
datasets/
*.npy
*.npz

# Checkpoints
checkpoints/
*.pth
*.pt

# Logs
runs/
logs/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store